.entete-page {
    display:flex;
    flex-direction: column;
    background-color: #e3e8f0;
    text-align:center;
}
.titre{
    color:blue;
}
.les-techniques{ 
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /**le minimum de px par colonne*/
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.5;
    margin-top: 4.5rem;
}
.une-techniques{
    background-color:white;
    border-radius: 16px;
    overflow: hidden; /*Empeche l'image  de d'epasser de l'arrondissement des bord*/
    max-width: 360px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
.contenu{
    padding: 25px;
    display: flex;
    flex-direction: column;
}
.securite{
    display:grid;
    grid-template-rows: repeat(auto-fit, minmax(150px, 10fr));
    background-color:rgb(217, 247, 217);
    border-radius: 16px;
    margin:3rem;
}